extends layout

block content
  h1 MiFixture
  p.lead Just fooling around
  
  .col-sm-8.col-sm-offset-2
      
      hr
      a.btn.btn-block.btn-facebook.btn-social(href='/auth/facebook')
        i.fa.fa-facebook
        | Sign in with Facebook
    